.footer {
  position: relative; /* viktigt för att ::before ska fungera */
  color: rgb(38 77 32);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden; /* så ::before inte sticker ut */
}

.footer::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  background-image: url(../images/bakgrund.avif);
  background-size: cover;
  background-repeat: repeat;
  filter: brightness(130%) saturate(20%) contrast(80%);
}
.footer__text {
  font-family: "Delius Swash Caps", cursive;
}

@media (max-width: 1040px) {
  .footer__text {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .footer__text {
    font-size: 12px;
  }
}
