.footer {
  /* height: 8%; */
  color: rgb(38 77 32);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  font-family: "Delius Swash Caps", cursive;
}

@media (max-width: 1040px) {
  .footer__text {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .footer__text {
    font-size: 12px;
  }
}
