/* .hamburger-navbar {
  height: 100%;
  width: 50%;
  min-width: 270px;
  max-width: 340px;
  left: 0px;
  top: 0px;
  z-index: 900;
  transition: left 0.3s ease-in-out;
  position: fixed;
} */

.hamburger-navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background-image: url(../images/bakgrund.avif); */
  background-size: cover;
  background-repeat: repeat;

  /* filter: grayscale(100%); */
  z-index: -1;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  /* filter: brightness(130%) saturate(20%) contrast(80%); */
  border-right: 1px solid #262626;
}

.hamburger-navbar__ul {
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  height: 100vh;
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: white;
}
.hamburger-navbar__li {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger-navbar_link {
  text-decoration: none;
  color: white;
  color: rgb(38 77 32);
  font-family: "Delius Swash Caps", cursive;
  transition: all 0.3s ease-in-out;
}

.hamburger-navbar__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  min-height: 450px;
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  /* background-color: red; */
  position: absolute;
  scale: 0.8;
  transform-origin: top;
}

.hamburger-navbar__label {
  display: flex;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  color: rgb(38 77 32);
  font-size: 16px;
  font-family: "Delius Swash Caps", cursive;
}

.hamburger-navbar__divider {
  width: 100px;
  transform: rotate(90deg);
  filter: invert(18%) sepia(49%) saturate(2488%) hue-rotate(93deg);
}

.hamburger-navbar__icons-wrapper {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hamburger-navbar__icon-item {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(38 77 32);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hamburger-navbar__icon-item:hover {
  scale: 1.1;
  background-color: rgb(38 77 32);
}

.hamburger-navbar__icon {
  font-size: 1.1rem;
  color: rgb(38 77 32);
  transition: color 0.3s ease-in-out;
}

.hamburger-navbar__icon-item:hover .hamburger-navbar__icon {
  color: white;
}

/* === App Layout === */
.hamburger-navbar {
  position: fixed;
  top: 0;
  left: -500px; /* Göm menyn utanför skärmen först */
  height: 100%;
  width: 50%;
  min-width: 270px;
  max-width: 340px;
  z-index: 900;
  transition: left 0.3s ease-in-out; /* Smooth slide */
}

.hamburger-navbar.open {
  left: 0;
}

.hamburger-navbar_link:hover {
  letter-spacing: 0.3rem;
  color: rgb(20, 40, 15);
  transition: all 0.3s ease-in-out;
  text-shadow: 0 0 5px rgb(38, 77, 32);
}

.hamburger-navbar__hamburger-react {
  position: absolute;
  top: 25px;
  right: 7px;
}

@media (min-width: 1040px) {
  .hamburger-navbar {
    display: none;
  }
}
