.home {
  display: flex;
  height: 100%;
  background-color: #262626;
  width: 100%;
}

.home__info-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__info-section-wrapper {
  width: 75%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 400px;
}
.home__info-section__p {
  color: white;
  letter-spacing: 0.2rem;
  font-family: "Delius Swash Caps", cursive;
  padding: 5px;
}

.home__info-section__header {
  color: white;
  font-size: 3.5rem;
  font-family: "Delius Swash Caps", cursive;
}
.home__span {
  color: rgb(38 77 32);
  font-family: "Homemade Apple", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
.home__img-section {
  width: 50%;
  display: flex;
  align-items: center;
}
.home__img-wrapper {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  box-shadow: 0 0 25px rgb(38 77 32);
}
.home__img {
  border-radius: 50%;
  filter: grayscale(100%);

  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1168px) {
  .home__span {
    font-size: 40px;
  }
}

@media (max-width: 980px) {
  .home__span {
    font-size: 35px;
  }
}

@media (max-width: 850px) {
  .home__span {
    font-size: 27px;
  }
  .home {
    flex-direction: column-reverse;
    align-items: center;
  }
  .home__img-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .home__info-section {
    width: 100%;
    text-align: center;
  }
  .home__info-section__header {
    font-size: 2.5rem;
  }
  .home__info-section__p {
    font-size: 15px;
    /* padding: 16px; */
  }
}

@media (max-width: 580px) {
  .home__info-section__p {
    font-size: 12px;
    /* padding: 16px; */
  }
  .home__img-wrapper {
    height: 270px;
    width: 270px;
    /* border-radius: 50%;
    box-shadow: 0 0 25px rgb(38 77 32); */
  }
}
