.project-card {
  width: 300px;
  height: 440px;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid black;
  scale: 0.8;
  cursor: pointer;
  transition:
    transform 0.6s ease-in-out,
    box-shadow 0.6s ease-in-out;
  box-shadow: 0px 3px 12px 7px rgba(255, 255, 255, 0.12);
  -webkit-box-shadow: 0px 3px 17px 7px rgba(255, 255, 255, 0.12);
  -moz-box-shadow: 0px 3px 17px 7px rgba(255, 255, 255, 0.12);
  background-color: rgb(38, 77, 32);
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.project-card__innerdiv {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.project-card__img-section {
  height: 50%;
}

.project-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.6s ease-in-out;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-card:hover .project-card__img {
  transition: transform 0.6s ease-in-out;
}

.project-card__item-label-wrapper {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  z-index: 2;
}

.project-card__label,
.project-card__label--back,
.project-card__label--test {
  padding: 3px 6px;
  border: 1px solid black;
  border-radius: 6px;
  font-weight: bolder;
  color: black;
  font-family: "Delius Swash Caps", cursive;
}

.project-card__label {
  background-color: #00ff0053;
}

.project-card__label--back {
  background-color: #ffbf008f;
}

.project-card__label--test {
  background-color: rgba(255, 0, 0, 0.491);
}

.project-card__text-section {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px;
  color: black;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-card__text-top-wrapper {
  height: 80%;
  overflow: hidden;
  overflow-y: auto;
}

.project-card__title {
  font-size: 17px;
  font-weight: bold;
  font-family: "Delius Swash Caps", cursive;
}

.project-card__paragraph {
  font-size: 13px;
  margin-top: 10px;
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

.project-card__lower-wrapper {
  display: flex;
  align-items: center;
  height: 20%;
}

.project-card__icons {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.project-card__icon {
  width: 20px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.project-card__icons svg {
  color: white;
}

.project-card__link-item {
  margin: 0px 10px;
  color: white;
}

.project-card__link-icons-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  z-index: 2;
}

.project-card__link-icons {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.726);
  border: 1px solid black;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.project-card__link-icons:hover {
  background-color: rgba(255, 255, 255, 0.879);
  transform: scale(1.05);
}

.project-card__link-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.project-card__link-icons img {
  display: block;
}

.viewLiveIcon {
  height: 12px;
}
