* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Xanh Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

/* .app-wrapper {
  height: 77%;
  background-color: #262626;
  background-color: red;
} */

.home__icon-section {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  min-height: 450px;
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  position: fixed;
}
.divider-text {
  display: flex;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  color: white;
  font-size: 16px;
  font-family: "Delius Swash Caps", cursive;
}
.divider {
  width: 100px;
  transform: rotate(90deg);
}
.home-icon-wrapper {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home__icon-section__container {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home__icon-section__container:hover {
  scale: 1.1;
  background-color: white;

  /* valfritt, gör fade-effekten tydligare */
}

.home__icon-section__icon {
  font-size: 1.1rem;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}
.home__icon-section__container:hover .home__icon-section__icon {
  color: black; /* eller vad du vill ha som hoverfärg */
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* overflow: hidden; */
  height: auto;
  min-height: 100vh;
}

.app-wrapper {
  flex: 1;
  height: auto;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 15vh;
  min-height: 60px;
}
.footer {
  height: 8vh;
  min-height: 50px;
}

@media (max-width: 1040px) {
  .home__icon-section {
    display: none;
  }
  /* .home__icon-section__container {
    padding: 0px 15px;
  }
  .home__icon-section {
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    min-height: unset;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }
  .divider-text {
    writing-mode: inherit;
  }

  .divider {
    width: 100px;
    transform: rotate(180deg);
    
  }
  .home-icon-wrapper {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  } */
}

/* @media (max-width: 700px) {
  .home__icon-section {
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    min-height: unset;
    
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
  }

  .divider {
    width: 70px;
  }

  .home__icon-section__container {
 
  }
  .divider-text {
    font-size: 11px;
  }
  .home__icon-section__icon {
    font-size: 0.9rem;
  }
} */

@media (max-width: 468px) {
  .app {
    height: auto;
    min-height: 100vh;
  }

  .footer {
    height: auto;
  }

  .app-wrapper {
    /* flex: none; */
    height: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
}
